/* Theme colors. */
:root {
  /* --ps-hud-primary: #03f0b5; */
  --ps-hud-primary: #03f0b5;
  --ps-hud-primary-hover: #13554b;
  --ps-hud-secondary: #444444;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(60, 60, 60, 1);
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

hr {
  opacity: 0.3;
}